:root {
  --primary-text-color: rgb(255, 255, 255);
  --primary-body-color: #11213e;
  --nav-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(255, 255, 120);
  --font-family-main: "Moulpali", serif, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Moulpali";
  src: url("../fonts/Moulpali/Moulpali-Regular.ttf");
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* nav picture {
    visibility: hidden;
    border: 1px solid red;
  }
  
  nav > * + * {
    visibility: visible;
    border: 1px solid orange;
    padding: 0.3rem;
  } */

.nav-container {
  background: #11213e;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: var(--nav-text-color);
  padding: 0rem 2rem 1rem 2rem;
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 1rem;
    padding-top: 50%;
  }

  nav a {
    font-size: 0.8rem;
  }
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: var(--font-family-main);
}

.title {
  float: left;
  font-weight: normal;
  font-family: inherit;
  padding-top: 1.25%;
}

nav a {
  float: right;
  margin: 0.3rem;
  position: relative;
  top: 30%;
  color: var(--nav-text-color);
  text-decoration: none;
  padding: 0rem 0.5rem 0rem;
}

nav a:hover {
  font-weight: bold;
  color: var(--secondary-text-color);
}

main {
  animation: fade-in 0.75s;
  width: 100%;
  height: 130vh;
  color: var(--primary-text-color);
  box-sizing: border-box;
  padding: 2rem;
}

.footer-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 1.5rem;
    padding-top: 3%;
  }

  header nav a {
    font-size: 0.8rem;
    padding-top: 1.5%;
  }
}

@media screen and (max-width: 630px) {
  .title {
    font-size: 1rem;
    padding-top: 3%;
  }

  header nav a {
    font-size: 0.6rem;
    padding-top: 0.75%;
  }
}

.active {
  color: var(--secondary-text-color) !important;
}

.footer-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

footer {
  color: var(--primary-text-color);
  background-color: var(--primary-body-color);
  padding: 0.4rem 1rem 1rem 1rem;
}

h1 a {
  font-weight: normal;
  text-decoration: none;
  color: white;
}

h2 {
  font-weight: bold;
  color: black;
  font-size: 5.5vw;
  font-family: inherit;
}

main figure {
  display: flex;
  flex-direction: row;
  color: black;
}

#image-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

figcaption {
  width: 70%;
  max-width: 110ch;
  background-color: #11213e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
}

figcaption h4 {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--secondary-text-color);
}

figcaption p {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: white;
}

p a {
  text-decoration: none;
}

h4 a:visited {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--secondary-text-color);
}

p a:visited {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: white;
}
